.service__image {
  width: 250px;
  margin-right: 30px;
}

.service__description {
  padding-top: 20px;
  width: 70%;
  margin: 0 auto 30px auto;
  text-align: center;
  font-size: 17px;
}

.service__info {
  font-size: 15px;
  padding-left: 10px;
}

.service__info span {
  color: #ff7875;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.service__info span:hover {
  opacity: 0.6;
}

.service__icon {
  margin-right: 10px;
}
