.services__card {
  margin: 50px 0;
  width: 150px;
}

.services__card img {
  width: 85%;
  margin: 10px auto 0 auto;
}

.ant-card-meta-title {
  text-overflow: initial;
}

@media (max-width: 1100px) {
  .services__card {
    width: 130px;
    margin-top: 0;
    margin-right: 20px;
  }

  .services__card:nth-of-type(2n) {
    margin-right: 0;
  }
}
