header.container {
  padding: 30px 80px;
  background-color: black;
  -webkit-box-shadow: 0 2px 8px;
  box-shadow: 0 2px 8px;
}

@media (max-width: 768px) {
  header.container {
    padding: 30px;
  }
}

.ant-menu.ant-menu-horizontal,
.ant-menu-horizontal > .ant-menu-submenu,
.ant-menu.ant-menu-horizontal > .ant-menu-item > a,
.nav__item > a {
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  color: #ffffff;
  background-color: #000000;
  border-right: 0;
}

.nav__item {
  margin-right: 30px;
}

.nav__item > a {
  height: 40px;
  line-height: 40px;
}

.ant-menu.ant-menu-horizontal > .ant-menu-item > a {
  color: #ffffff;
}

.ant-menu.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: 2px solid #fc9898 !important;
}

.ant-menu.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item > a:hover,
.ant-menu-submenu-title:hover,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-item > a:hover,
.ant-menu-horizontal > .ant-menu-submenu-selected,
.ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover {
  color: #fc9898 !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #fc9898 !important;
  background-color: transparent !important;
}
