header.container {
  padding: 30px 80px;
  background-color: black;
  -webkit-box-shadow: 0 2px 8px;
  box-shadow: 0 2px 8px;
}

@media (max-width: 1100px) {
  header.container {
    padding: 30px 40px;
  }
}

@media (max-width: 768px) {
  header.container {
    padding: 30px;
  }
}
