@import "../node_modules/antd/dist/antd.css";

body {
  background-color: #ffd1d1;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

main.container {
  min-height: 650px;
  background-color: white;
  -webkit-box-shadow: 0 2px 8px;
  box-shadow: 0 2px 8px;
}

.container .ant-btn.ant-btn-primary,
.ant-modal-content .ant-btn.ant-btn-primary {
  background-color: #ff7875;
  border-color: #ff7875;
}

.container .ant-btn-danger,
.container .ant-btn-danger {
  background-color: #000000;
  border-color: #000000;
}

.container .ant-btn-danger:hover {
  background-color: #000000;
  border-color: #000000;
  opacity: 0.7;
}

.container .ant-btn-danger[disabled],
.container .ant-btn-danger[disabled] {
  color: rgba(255, 255, 255, 0.4);
}

.ant-modal-content .ant-btn:hover,
.ant-modal-content .ant-btn:focus {
  color: #ff7875;
  border-color: #ff7875;
}

.container .ant-btn-primary:hover,
.ant-modal-content .ant-btn.ant-btn-primary:hover {
  background-color: #ff7875;
  border-color: #ff7875;
  color: #ffffff;
  opacity: 0.7;
}

.ant-modal-body {
  text-align: center;
  font-weight: 700;
}

.wrapper {
  padding: 80px 80px 30px 80px;
}

h2 {
  margin: 0 80px 60px 0;
  text-align: center;
  font-size: 25px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.f-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

@media (max-width: 1100px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 600px;
  }

  .wrapper {
    padding: 30px;
  }
}

@media (max-width: 560px) {
  .container {
    width: 360px;
  }

  h2 {
    margin-right: 0;
  }
}

.fadeIn {
	-webkit-animation: fadeIn 0.3s ease-in forwards;
	   -moz-animation: fadeIn 0.3s ease-in forwards;
	     -o-animation: fadeIn 0.3s ease-in forwards;
	        animation: fadeIn 0.3s ease-in forwards;
}

.fadeOut {
	-webkit-animation: fadeOut 0s ease-out forwards;
	   -moz-animation: fadeOut 0s ease-out forwards;
	     -o-animation: fadeOut 0s ease-out forwards;
	        animation: fadeOut 0s ease-out forwards;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-moz-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-o-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
